.custom-button{
    padding: 10px;
    background-color: var(--default-button-color);
    border-radius: 10px;
    font-weight: bold;
    color: var(--default-button-text-color);
    outline: none;
    border: none;
    cursor: pointer;
}

.button-icon{
    width: 40px;
    height: 40px;
    align-content: center;
    border-radius: 100%;
    font-size: 1rem;
}