.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 200px;
}

.section-title{
    font-weight: bold;
    font-size: 3rem;
    width: 85%;
    text-align: center;

}

.section-subtitle{
    color: var(--subtext);
    width: 60%;
    text-align: center;
    font-size: 1.2rem;
}

.main-translation-section-container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.translation-section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
}

.translation-card{
    display: flex;
    flex-direction: column;
    width: 45%;
    background-color: var(--card-background);
    padding: 30px;
    border-radius: 20px;
    gap: 20px;
}

.translation-card-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.translation-card-header{
    color: var(--subtext);
}

.translation-card-selection{
    background-color: var(--semi-transparent);
    padding: 10px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.translation-card-selection option{
    background-color: var(--default-button-text-color);
    border: none;
    outline: none;
}

.textarea-input{
    position: relative;
}

.speech-input-button{
    cursor: pointer;
    position: absolute;
    padding: 20px;
    background-color: var(--semi-transparent2);
    color: var(--subtext);
    text-align: center;
    border-radius: 100px;
    font-size: 1.2rem;
    width: fit-content;
    bottom: 20px;
    right: 20px;
}

.translation-textarea-input{
    resize: none;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-color: var(--default-button-text-color);
    border: 2px solid var(--card-border);
    padding: 30px;
    outline: none;
    font-size: 1.2rem;
}

.signing-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signing-section-image{
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.signing-image-actions-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.play-pause-cotainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
}