.feature-card-container{
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #192f33;
    padding: 15px;
    border-radius: 10px;
}

.feature-logo{
    color: var(--default-button-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.feature-title{
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
}

.feature-description{
    color: var(--subtext2);
    font-size: 0.8rem;
}