.user-review-card-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    border: 1px solid #ffffff;
    padding: 20px;
    border: 2px solid var(--card-border);
    background-color: var(--card-background);
    border-radius: 20px;
}

.review-profile-data{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.reviewer-profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    /* object-fit: contain; */
}

.reviewer-name{
    font-size: 1.5rem;
}

.review-date{
    color: var(--subtext2);
    font-size: 1rem;
}

.review-rating-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.fa-star{
    color: var(--default-button-color);
}

.review-message{
    font-size: 1.2rem;
}