.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--card-border);
    padding: 50px 20px;
}

.footer-container *{
    color: var(--subtext);
}

.copyright-section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-kumpas-logo{
    width: 15px;
}

.footer-links-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer-links-container *{
    text-decoration: none;
}

.footer-links-container *:hover{
    text-decoration: underline;
}