@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root{
  --background-color: #101f22;
  --highlight-color: #1a4a54;
  --highlight-text-color: #14bcde;
  --default-button-color: #13c8ec;
  --default-button-text-color: #1c2b2e;
  --semi-transparent: rgba(255, 255, 255, 0.15);
  --semi-transparent2: rgba(255, 255, 255, 0.1);
  --semi-transparent3: rgba(190, 244, 255, 0.75);
  --semi-transparent4: rgba(0, 0, 0, 0.05);
  --start-gradient: #082a40;
  --end-gradient: #478591;
  --subtext: #cccccc;
  --subtext2: #959595;
  --subtext3: #696969;
  --card-background: #172c30;
  --card-border: rgba(255, 255, 255, 0.1);
  --blue-border: #00bfe6;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lexend';
  color: white;
}

body{
  background-color: var(--background-color);
}

#root{
  height: 100vh;
}